#sa{
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: brown;
    margin-top: 150px;
    margin-bottom: 79px;
    margin-left: 436.4px;
    margin-right: 436.4px;
}
#as{
    margin-top: 170px;
}